#include<PROGRAM_NAME.HPP>

namespace PROGRAM_NAME{
    struct Credentials{
    const char* website_url="https://sub.domain.tld";
    const char* bot_acct="";
    const char* bot_id="";
    const char* Api_Token="";
    }Credentials;
};